[submodule "Extern/openexr"]
	path = Extern/openexr
	url = https://github.com/AcademySoftwareFoundation/openexr.git
[submodule "Extern/Imath"]
	path = Extern/Imath
	url = https://github.com/AcademySoftwareFoundation/Imath
[submodule "Extern/ptex"]
	path = Extern/ptex
	url = https://github.com/wdas/ptex.git
