name: Build debug

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:

      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
 
      - uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: cmake debhelper devscripts libembree-dev libopenimageio-dev
          version: 1.3.0

      - name: Cache swift
        id: cache-swift
        uses: actions/cache@v3
        with:
          path: |
            swift-5.9-RELEASE-ubuntu22.04.tar.gz
          key: ${{ runner.os }}-cache-swift

      - name: Download swift
        if: steps.cache-swift.outputs.cache-hit != 'true'
        run: |
          wget https://download.swift.org/swift-5.9-release/ubuntu2204/swift-5.9-RELEASE/swift-5.9-RELEASE-ubuntu22.04.tar.gz

      - name: Install swift
        run: |
          tar xzf swift-5.9-RELEASE-ubuntu22.04.tar.gz

      - name: Install ptex
        run: |
          sudo dpkg -i External/Ptex/ptex_2.4.2-1ubuntu6_amd64.deb


      - name: Install swiftlint
        run: |
          wget https://github.com/realm/SwiftLint/releases/download/0.54.0/swiftlint_linux.zip
          unzip swiftlint_linux.zip
          sudo mv swiftlint /usr/bin/

      - name: Lint
        run: swiftlint

      - name: Compile debug
        run: |
          mkdir .build
          make debug

      - name: Run tests
        run: swift test
