name: Build debug

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    runs-on: ubuntu-latest
    container: archlinux:latest

    steps:
      - uses: actions/checkout@v3

      - name: Install System Dependencies
        run: |
          pacman -Syu --noconfirm
          pacman -S --noconfirm base-devel git cmake ninja openimageio ptex wget unzip sudo embree

      - name: Setup AUR Builder
        run: |
          useradd -m builder
          echo "builder ALL=(ALL) NOPASSWD: ALL" > /etc/sudoers.d/builder
          chmod 0440 /etc/sudoers.d/builder
          # Fix directory permissions for builder
          chown -R builder:builder .

      - name: Install Swift (AUR)
        run: |
          su - builder -c "git clone https://aur.archlinux.org/swift-bin.git && cd swift-bin && makepkg -si --noconfirm"

      - name: Install SwiftLint (AUR)
        run: |
          su - builder -c "git clone https://aur.archlinux.org/swiftlint-bin.git && cd swiftlint-bin && makepkg -si --noconfirm"

      - name: Check Versions
        run: |
          swift --version
          swiftlint --version

      - name: Lint
        run: swiftlint

      - name: Compile debug
        run: |
          mkdir .build
          make debug

      - name: Run tests
        run: swift test
